#beginningNosotros {
	position: relative;
}
#beginningNosotros  h1, .centeredText,#ask {
	position: relative;
	z-index: 2;
}#beginningNosotros::before {
	background-image: url("/images/nosotrosBeginning.jpeg");
	background-position-y: 40%;
	background-size: cover;
	content: ' ';
	display: block;
  position: absolute;
	opacity: 0.65;
	margin-bottom: 4%;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
  height: 100%;
}
#howItBorn {
	margin-top: 4%;
}
#formationContinued {
	margin-top: 2%;
}
@media only screen and (min-width:576px) and (max-width:768px) {
	#title {
		text-align: center;
	}
	#formationContinued {
		margin-top: 260%;
	}
}
@media only screen and (max-width:575px) {
	#title {
		text-align: center;
	}
	#formationContinued {
		margin-top: 260%;
	}
}