#beginningServicios  {
	position: relative;
}
#beginningServicios   h1, .centeredText,#ask {
	position: relative;
	z-index: 2;
}
#beginningServicios::before {
	background-image: url("/images/serviciosBeginning.jpeg");
	background-position-y: 80%;
	background-size: cover;
	content: ' ';
	display: block;
  position: absolute;
	opacity: 0.65;
	margin-bottom: 4%;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
  height: 100%;
}